* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: Poppins, sans-serif;
}
.profile .imgcontainer strong{
    color: white;
}
nav{
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: rgb(64, 165, 120);
    z-index: 2;
}
.wrapper{
    padding-top: 100px;
    padding-left: 250px;
    position: relative;
    max-width: 1380px;
    background-color: rgb(92, 42, 42);
    z-index: 0;
    margin: 0 auto;
}
header{
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    padding-left: 250px;
    h1{
        margin-left: 127px;
        width: 500px;
        position: absolute;
        margin-top: -30px;
    }
    p{
        display: flex;
        z-index: 4;
        margin-left: 1070px;
        margin-top: -30px ;
        font-size: 18px;
    }
}
.plus{
    position: absolute;
    margin-top: 20px;
    width: 25px;
    z-index: 3px;
    margin-left: 1040px;
    transition: transform 0.3s ease;


}
.plus:hover{
    transform: scale(1.2);
    
}
.log{
    margin-left: -20px;
}

.logo{
    margin-top: 15px;  
    text-align: center;

}
.it{
    margin-top: 25px;
}
.imgcontainer{
    display: flex ;
}
ul {
    width: 100%;
    margin-top: 50px;
    text-align: center;
    list-style: none;
    padding: 0; 
}

li {
    margin-bottom: 20px;
    margin-left: -5px;
}

nav ul li a {
    display: block; 
    padding: 10px 20px; 
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgb(84, 185, 130); 
    color: white; 
}
i{
    color: black;
    font-size: 25px;
    margin-right: 10px;
}

.container{
    background-color: #015224;
    position: absolute;
    gap: 10px;
    width: 100%;
    display: flex;
    padding-left: 20px;
    flex-wrap: wrap;
    justify-content: center;
   
}
.container, .p{
    position: relative;

}
.notebox{
    margin-left: 3px;
    margin-bottom: 15px;
    background-color: rgb(255, 255, 255);
    padding: 18px;
    width: 250px;
    max-width: 300px;
    height: 300px;
    border-radius: 8px; 
    border: 2px solid rgba(0, 0, 0, 0.227);
    transition: transform 0.3s ease;
}

.notebox:hover{
    transform: scale(1.05);

}
.dot{
    position: absolute;
    margin-top: -8px;
    width: 20px;
    margin-left: 135px;

}
.date{
    margin-top: 108px;
    position: absolute;
    opacity: 0.5;
    font-size: 14px;
    margin-left: 100px;
}

.search-container {
    margin-top: 10px;
    margin-left: 720px;
    width: 290px;
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
    background-color: #fff;
}

.search-bar {
    border: none;
    padding: 10px;
    width: 240px;
    font-size: 16px;
    outline: none;
}

.search-bar::placeholder {
    color: #aaa;
}

.search-button {
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-left: 25px;
    border-radius: 50%;
    width: 40px;
    border: none;
    padding: 10px;
    background-color: rgb(64, 165, 120);
    color: white;
    font-size: 16px;
    cursor: pointer;   
}

.search-button:hover {
    background-color: #015224;
    transform: scale(1.1);

}
.profile{
    position: absolute;
    bottom: 20px;
    padding-left: 20px;
    img{
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }

    p{
        margin-left: 20px;
        width: 100%;
        margin-top: 10px;
    }
}
.greendot{
    width: 25px;
    position:absolute ;
    border-radius: 50%;
    margin-top: 250px;
    margin-left: -60px;
    z-index: 8;
}

